/*
Color Scheme:

:Darkest:
NAVY PURPLE
#8A4FFF
BLUE JEANS
#5BC0EB
SATIN SHEEN GOLD
#CBA135
#F3EFE0
:Lightest:

:Darker:
RAISIN BLACK
#252627
BLEU DE FRANCE
#3C91E6
ROSE TAUPE
#904E55
PALE CORNFLOWER BLUE
#ADBDFF
KHAKI (HTML/CSS) (KHAKI)
#BFB48F
ALABASTER
#F2EFE9
:Lighter:
*/
:root {
  --blackish: #252627;
  --purply: #8A4FFF;
  --dblueish: #5BC0EB;
  --lavenderish: #ADBDFF;
  --rosey: #904E55;
  --gold: #CBA135;
  --khaki: #BFB48F;
  --whiteish: #F2EFE9;
}

nav {
  position: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: inherit;
  color: var(--blackish);
  background-color: var(--rosey) !important;
  line-height: 1.33;
}

.navbar-link:hover {
  color: var(--lavenderish) !important;
  text-decoration: none;
  outline:none;
  cursor: pointer;
}

.navbar-link {
  background-color: transparent;
  border: none;
  outline:none;
  color: var(--blackish) !important;
  font-size: 0.85rem;
  text-decoration: none;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}


.navbar-link:focus {
  background-color: transparent;
  border: none;
  outline:none;
}

.navbar-brand {
  font-size: 1.25rem;
}

#navbar {
  background-color: var(--rosey);
}

#subtitle {
  color: var(--whiteish);
  font-size: 0.75rem;
}
