/*
Color Scheme:

:Darkest:
NAVY PURPLE
#8A4FFF
BLUE JEANS
#5BC0EB
SATIN SHEEN GOLD
#CBA135
#F3EFE0
:Lightest:

:Darker:
RAISIN BLACK
#252627
BLEU DE FRANCE
#3C91E6
ROSE TAUPE
#904E55
PALE CORNFLOWER BLUE
#ADBDFF
KHAKI (HTML/CSS) (KHAKI)
#BFB48F
ALABASTER
#F2EFE9
:Lighter:
*/
:root {
  --blackish: #252627;
  --purply: #8A4FFF;
  --dblueish: #5BC0EB;
  --lavenderish: #ADBDFF;
  --rosey: #904E55;
  --gold: #CBA135;
  --khaki: #BFB48F;
  --whiteish: #F2EFE9;

  --pixelHeight: 200px;
}

textarea {
  resize: none;
}

#scrollable-col {
  background-color: var(--whiteish);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-grid-unit{
  height: var(--pixelHeight);
  max-height: 200px;
}

.card {
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-body > h5, p, a {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.card-title {
  margin: 0px;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.card-text {
  width: fill;
  margin: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  text-overflow: ellipsis;
}
