.comment-card {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0rem;
}

.comment-card-body > h5, p, a {
  font-size: 0.9rem;
  padding: 0rem;
  margin: 0rem;
}

.comment-card-title {
  margin: 0rem;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.comment-card-text {
  width: stretch;
  margin: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  text-overflow: ellipsis;
}