.card-img-top-large {
  background-color: var(--whiteish);
  height: var(--projectDetailsCardHeight);
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  object-fit:scale-down;
}

.detail-column-content-appear {
    opacity: 0.01;
}

.detail-column-content-appear.detail-column-content-appear-active {
    opacity: 1;
    transition: all 300ms ease-in;
}

.detail-column-content-enter {
    opacity: 0.01;
}

.detail-column-content-enter.detail-column-content-enter-active {
    opacity: 1;
    transition: all 300ms ease-in;
}