<!-- Standard dark navbar - collapsable into reduced menu for small screen sizes: -->
<footer id='footer' class='text-center justify-content-center fixed-bottom'>
  <!-- We need a container to stop the row from overflowing. -->
  <div class='container-fluid'>
    <!-- A row goes horizontally, left-right. -->
    <div class='row'>
      <!-- A col goes vertically, top-bottom. -->

      <!-- Col 1. -->
      <div class='col grow justify-content-left text-left'>
          <a id='privacyPolicyLink' data-toggle='modal' data-target='#myModal'><b>Privacy Policy</b></a>
      </div>

      <!-- Col 2. -->
      <div class='col grow justify-content-right text-right' style='display:flex; justify-content:flex-end; align-items:center;'>
        <p id='uniqueVisitorsCounter' style='vertical-align: middle;'></p>
      </div>

    </div>
  </div>
</footer>


<!-- Modal -->
<div class='modal fade' id='myModal' role='dialog'>
  <div class='modal-dialog'>

    <!-- Modal content-->
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Privacy Policy</h4>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
      </div>
      <div id='privacyPolicyPopup' class='modal-body'>
      </div>
    </div>

  </div>
</div>
