<!-- Standard dark navbar - collapsable into reduced menu for small screen sizes: -->
<nav id="navbar" class="navbar navbar-expand-md navbar-dark sticky-top ml-auto shadow">
    <a id="" class="navbar-link navbar-brand" href="/"><b>Wondering Wandering</b></a>

    <span class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-link" href="/guestbook.html"><b>Guestbook</b></a>
        <label></label>
        <a class="navbar-link" onClick="viewAboutMe();"><b>About Me</b></a>
      </li>
    </span>
</nav>
