/*
Color Scheme:

:Darkest:
NAVY PURPLE
#8A4FFF
BLUE JEANS
#5BC0EB
SATIN SHEEN GOLD
#CBA135
#F3EFE0
:Lightest:

:Darker:
RAISIN BLACK
#252627
BLEU DE FRANCE
#3C91E6
ROSE TAUPE
#904E55
PALE CORNFLOWER BLUE
#ADBDFF
KHAKI (HTML/CSS) (KHAKI)
#BFB48F
ALABASTER
#F2EFE9
:Lighter:
*/
:root {
  --blackish: #252627;
  --purply: #8A4FFF;
  --dblueish: #5BC0EB;
  --lavenderish: #ADBDFF;
  --rosey: #904E55;
  --gold: #CBA135;
  --khaki: #BFB48F;
  --whiteish: #F2EFE9;
}

#footer {
  background-color: var(--rosey);
  margin: 0;
  font-size: 1rem;
}

#userGreeting {
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  font-size: 1rem;
}

#uniqueVisitorsCounter {
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  font-size: 0.9rem;
}

#privacyPolicyLink {
  background-color: transparent;
  border: none;
  color: var(--blackish) !important;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  font-size: 0.9rem;
}

#privacyPolicyPopup {
  text-align: left;
}

#privacyPolicyLink:hover {
  color: var(--lavenderish) !important;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  font-size: 0.9rem;
}

.modal-backdrop {
  z-index: 1000;
}

.modal-content {
  background-color: var(--whiteish);
  color: var(--blackish);
  margin: 0;
  font-size: 0.9rem;
}
