.link-card {
  height: var(--linkCardHeight) !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0rem;
}

.link-card-row:hover {
  background-color: var(--rosey);
}

.link-grid-unit{
  height: var(--linkCardHeight);
}

.link-card-image {
  height: var(--linkCardHeight);
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0rem;
  border: 0;
  object-fit: contain;
}

.link-card-body {
  height: var(--linkCardHeight);
  text-align: center;
  vertical-align: middle;
  line-height: var(--linkCardHeight);
  padding: 0rem;
  margin: 0rem;
}

.external-link:hover {
  color: var(--lavenderish) !important;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.external-link {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--blackish);
  font-size: 0.85rem;
  text-decoration: none;
  cursor: pointer;
}

.external-link:focus {
  background-color: transparent;
  border: none;
  outline: none;
}
